ul li {
    float: left;
}

ul li a {
    color: #333;
    padding: 0 10px;
}

.tab {
    width: 455px;
    height: 450px;
    border-collapse: collapse;
    margin: 50px auto;
}

.tab tbody tr td {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
}

.tab tbody tr:first-child td {
    border-top: 2px solid #000;
}

.tab tbody tr:nth-child(3n) td {
    border-bottom: 2px solid #000;
}

.tab tbody tr:nth-child(3n+1) td,
.tab tbody tr:nth-child(3n+2) td {
    border-bottom: 1px solid #999;
}

.tab tbody tr td:first-child {
    border-left: 2px solid #000;
}

.tab tbody tr td:nth-child(3n) {
    border-right: 2px solid #000;
}

.tab tbody tr td:nth-child(3n+1),
.tab tbody tr td:nth-child(3n+2) {
    border-right: 1px solid #999;
}

.tab tbody tr td input {
    width: 100%;
    border: 0;
    outline: 0;
    text-align: center;
    color: blue;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
}